[submodule "d2l-en"]
	path = d2l-en
	url = https://github.com/d2l-ai/d2l-en.git
[submodule "d2l-pytorch-slides"]
	path = d2l-pytorch-slides
	url = https://github.com/d2l-ai/d2l-pytorch-slides.git
[submodule "d2l-pytorch-colab"]
	path = d2l-pytorch-colab
	url = https://github.com/d2l-ai/d2l-pytorch-colab.git
[submodule "nma_rl_games"]
	path = nma_rl_games
	url = https://github.com/raymondchua/nma_rl_games.git
[submodule "course-content-dl"]
	path = course-content-dl
	url = https://github.com/NeuromatchAcademy/course-content-dl.git
